@tailwind base;
@layer base {
    @font-face {
        font-family:Ceviche;
        src: url("./font/NotoSerif-Regular.ttf");
        font-size: 1.5em;
    }

    .Ceviche{
        font-family: Ceviche;
        font-size: 16px;
        font-weight: 300;
    }
    @font-face {
        font-family: Megrim;
        src: url("./font/Megrim-Regular.ttf");
    }
    .Megrim{
        font-family: Megrim;
        font-size: 16px;
        font-weight: 300;
    }
    body{
        font-size: 1em;
        font-weight: normal;
    }
    h1 {
        font-size: 3.052rem;
        font-weight: 200;
    }
    h2 {
        font-size: 2.441rem;
        font-weight: normal;
    }
    h3 {
        font-size: 1.953rem;
        font-weight: normal;
    }
    h4 {
        font-size: 1.563rem;
        font-weight: 200;
    }
    h5 {
        font-size: 1.25rem;
        font-weight: normal;
    }
}
@tailwind components;
    @layer components {
        .header-style{
            @apply bg-dark-five fixed w-full left-0 top-0 py-6;
            transition: ease 0.4s;
        }

    }

@tailwind utilities;

* {
    cursor: none;
}