@tailwind base;
@layer base {
    @font-face {
        font-family:Ceviche;
        src: url("./font/CevicheOne-Regular.ttf");
        font-size: 1.5em;
    }

    .Ceviche{
        font-family: Ceviche;
        font-size: 16px;
        font-weight: bolder;
    }
    body{
        font-size: 16px;
        font-weight: normal;
    }
    h1 {
        font-size: 33.184px;
        font-weight: bold;
    }
    h2 {
        font-size: 31px;
        font-weight: bold;
    }
    h3 {
        font-size: 25.92px;
        font-weight: bold;
    }
}
@tailwind components;
    @layer components {
        .header-style{
            @apply h-20 bg-yellow-200 flex justify-around fixed w-full left-0 top-0;
            transition: ease 0.4s;
            &--scrolled {
                 height: 40px;
             }
        }
    }

@tailwind utilities;

* {
    cursor: none;
}