@media (min-width: 639.98px) {
    .outsideOne {
        background-image: url("./image/banner.png");
        background-size: cover;
        overflow: hidden;
        width: 100%;
    }
    .textCenter{
        position: absolute;
        top: 30%;
        left: 20%;
    }
    .outsideTwo{
        background-image: url("./image/banner.png");
        background-size: cover;
        overflow: hidden;
        width: 100%;
    }
}
